* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  /* background-color: rgb(80, 80, 80); */
}

.hero-sec {

}

.org-sec {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 40px; left: 50px;
  margin: 3em;
  height: 20px;
}

.brand-sec {
  margin-left: 1.5em;
}

.brand-sec select {
  border: none;
}

.image-container img{
  display: block;
  z-index: 1;

}

.links-sec {
  margin: 3em;
  width: 228px;
  background-color: none;
  position: absolute;
  top: 40px; right: 254px;
}

.links-sec ul li {
  z-index: 5;
}

