* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  /* background-color: rgb(80, 80, 80); */
}

:root {
  --dark-bg-font: #fff;
  --light-bg-font: #000;
  --font-azeret: 'Azeret Mono', monospace;
  --font-poppins: 'Poppins', 'sans-serif';
}
.background-container {
  width: 100%;
  height: 100%;
  /* z-index: -1; */
}

.img-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.video-container {
  width: 100%;
  height: 100%;
}

body {
  background-color: #101010;
  color: #ffffff;
}

#main-img,
.gdriveVideo {
  width: 100%;
  height: 100%;
  filter: brightness(50%);

}


fade {
  position: relative;
  bottom: 50px;

  display: block;

  width: 100%;
  height: 50px;

  background-image: linear-gradient(to bottom, 
      rgba(255, 255, 255, 0), 
      #101010
  100%);
  filter: opacity(80%);
}

.org-sec {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 3em;
  height: 20px;
}

#org {
  width: 150px;
}

.brand-sec {
  margin-left: 1.5em;
}

.dropdown-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.dropdown-content li {
  list-style-type: none;
}

.dropdown-content li a {
  margin: 0 auto;
}

.dropdown-content li a,
.member {
  text-decoration: none;
  cursor: pointer;
  color: var(--dark-bg-font);
}

#selected-option {
  /* color: var(--dark-bg-font);
  text-shadow: 1px 8px 17px var(--dark-bg-font), 1px 8px 17px var(--dark-bg-font), 1px 8px 17px var(--dark-bg-font);
  font-size: 18px;
  text-align: center; */
  width: 150px;
}

/* Define the bounce animation */
@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-10px);
  }

  60% {
    transform: translateY(-5px);
  }
}

.arrow {
  display: inline-block;
  animation: bounce 1s infinite;
  animation-timing-function: ease-in-out;
  color: var(--dark-bg-font);
  font-size: 25px
}



.links-sec {
  margin: 3em;
  /* width: 220px; */
  position: absolute;

  top: -20px;
  right: -10px;

}

.links-sec ul li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.links-sec ul {
  text-align: right;
}

.links-sec ul li a {
  z-index: 5;
  font-size: 30px;
  font-weight: 800px;
  font-family: var(--font-azeret);
  color: var(--dark-bg-font);
  text-decoration: none;
}

.links-sec ul li a:hover {
  color: rgb(0, 217, 255);
}

/* PROJECTS and MEMBERS SECTION */
.main-section-header-div {
  display: flex;
  border-bottom: 1px solid #424242;
  justify-content: space-between;
  padding-bottom: 10px;
  margin: 25px;
}

h3 {
  font-size: 30px;
  font-weight: 700;
  line-height: 24px;
  padding-bottom: 20px;
}

h4 {

  line-height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.t-h3 {
  text-align: right;
}

.p-h3 {
  text-align: left;
}

.projects-div,
.teams-div {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.memberList {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.choices {
  width: 100%;
  display: flex;
}

.member-cont {
  width: auto;
  padding-left: 10px;
  padding-right: 10px;
  /* border-right: 1px solid #fff; */
  filter: brightness(50%);
  text-decoration: none;
}

.member-cont:hover {
  filter: brightness(100%);
}

.member {
  font-family: var(--font-azeret);
}

.choice {
  padding-right: 10px;
}


.choice a {
  font-family: var(--font-azeret);
  font-size: 15px;
  /* padding: 5px; */
  cursor: pointer;
}

.choice a:hover {
  filter: brightness(100%);
}

.unselected {
  filter: brightness(50%)
}

.highlighted {
  filter: brightness(100%)
}



/* CARD CONTAINER SECTION  */
.card-container {
  /* display: flex; */
}

.card-holder {
  display: flex;
  flex-wrap: wrap;
  margin: 25px;
}

.main_card {

  /* margin: 10px; */
  /* order: -1; */
  min-width: 100%;
  min-height: 500px;
  /* background-color: blue; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: brightness(50%);
  cursor: pointer;
  transition: all .2s;
  text-decoration: none;
  color: white;

  margin-bottom: 20px;
}

.card {

  /* margin: 10px; */
  min-width: 25%;
  min-height: 300px;
  /* background-color: blue; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: brightness(50%);
  cursor: pointer;
  transition: all .2s;
  text-decoration: none;
  color: white;
}

.card:hover {
  filter: brightness(100%);
}

.main_card:hover {
  filter: brightness(80%)
}


/* When only one card remains */
.card-holder:only-child .card {
  flex: 0;
  /* Prevents the card from growing */
}

.card-info {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  flex-direction: column;

  padding-top: 0%;
  padding-left: 20px;
}

.heading-name {
  letter-spacing: .5px;
  text-transform: uppercase;
  font-size: .8em;
  font-weight: 400;
  font-family: var(--font-azeret);
}

.heading-card {
  height: auto;
  color: #fff;
  text-align: center;
  justify-content: center;
  align-items: center;

  font-size: 1.25em;
  font-weight: 700;
  text-decoration: none;
  padding-bottom: 20px;
}

.red {
  -webkit-text-stroke: 1px rgb(0, 0, 0);
}

.black { 
  color: black;
}

/* FOOTER SECTION  */
.footer_sec_div {
  display: flex;
  border-top: 1px solid #424242;
  justify-content: space-between;
  padding-top: 20px;
  margin: 25px;
}

.contact_icons {
  margin: 0 auto;
  
}


.icon_list {
  display: flex;
  gap: 50px;
  padding: 10px;
  list-style-type: none;
}

i {
  color: white;
}

.fa-youtube:hover {
  color: rgb(255, 0, 0);
}

.fa-x-twitter:hover {
  color: rgb(29, 161, 242);
}

.fa-discord:hover {
  color: rgb(114,137,218);
}

.fa-instagram:hover {
  color: rgb(225, 48, 108);
}

.fa-linkedin:hover {
  color: rgb(0, 119, 181);
}

.fa-envelope:hover {
  color: rgb(244, 180, 0);
}

.fa-github:hover {
  color: rgb(45, 186, 78);
}

.fa-tiktok:hover {
  /* color: rgb(244, 180, 0); */
  text-shadow: 0.06em 0.03em 0 rgba(255, 0, 80,0.75),
              -0.055em -0.05em 0 rgba(0, 242, 234,0.75);
}

@media screen and (max-width: 480px) {
    #main-img,
  .gdriveVideo {
    width: 100%;
    height: 50%;
    filter: brightness(50%);

  }
  .img-container {
    width: 100vw;
    height: 50vh;
    position: relative;
    overflow: hidden;
  }
}

